# .gitignore

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Docker
.DS_Store
.dockerignore

# IDE
.idea/
.vscode/

# Logs
*.log

# Build artifacts
build/
dist/

# Dependencies
venv/
.env/

# ChromaDB data
chromadb_data/